$thin-border: solid 1px #EEE9E0;

@mixin triangle($width, $color, $margin-left:0px, $margin-top:0px) {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top:50%;
		transform:translateY(-50%);
		margin-left: $margin-left;
		margin-top: $margin-top;
		width: 0;
		height: 0;
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;
		border-left: $width solid $color;
	}
}

body { 
	color: #fff; 
	margin: 0; 
	background: #9E9E9E url(bg.gif) no-repeat;
}

p { 
	font: 8pt/15pt Verdana, Arial, Helvetica, sans-serif; 
}

p:not(:last-child) {
	background: url(separator.gif) bottom no-repeat;
	padding-bottom:15px;
}

p:first-letter {
	color: #EEE9E0; 
	font-size: 150%;
	font-weight: bold;
	margin-right: 2px;
}

h3 {    
 	font: 11pt times, Verdana, Arial, Helvetica, sans-serif;
	color: #EEE9E0;
	font-weight:bold;
	height:10px;
	letter-spacing:0.04em;
}

a { 
	font-weight: bold; 
	text-decoration: underline; 
	color: #ffffff;
}
	
a:hover { 
	text-decoration: none; 
}

.intro {
	background: url(geco_garden.gif) 221px 0px no-repeat;

	header {
		background:#9E9E9E url(garden_css.gif) top left no-repeat; 
		position: absolute; 
		top: 145px; 
		left: 520px; 
		width:250px;
		height: 152px; 
		border-bottom: $thin-border;
		border-left: $thin-border;
		border-top: $thin-border;
		z-index: 2;

		h1,
		h2 { 
			display:none;
		}
	}

	.summary {
		position:absolute;
		top: 0; 
		left: 520px;
		width:250px;
		background:#0B4D69;
		border-right: $thin-border;
		border-left: $thin-border;

		p {
			font: 8pt/12pt Verdana, Arial, Helvetica, sans-serif;
			margin-left:5px;

			&:first-child {
				background-image: none;
			}
		}
	}

	.preamble {
		background:#497c89;
		width:221px;
		border-right: $thin-border;
		padding-bottom:1px;
		padding-top:1px;

		h3 {
			color: #d3f580;
			padding-bottom:5px;
			text-align:center;
			padding-top:10px;
		}

		p {
			margin-right:5px;
			margin-left:10px;
		}
	}
}

.supporting {
	width: 520px;

	& > div {
		background:#880622 url(eye.gif) 0 10px no-repeat;
		padding-bottom:35px;
		border-right: solid 1px #5F0116;

		&:first-child {
			border-top: solid 1px #5F0116;
		}

		&:not(:first-child) {
			margin-top:-35px;
		}
	}

	p {
		width:490px;
		margin-left:10px;
	}

	h3 {
		margin-left:55px;
		padding-top:30px;
		color: #d3f580;
	}

	footer {
		font: 11px Verdana, Arial, Helvetica, sans-serif; 
		background:#C6C4C4;
		text-align:center;
		border: solid 1px #880622;
		padding-bottom: 2px;

		a { 
			margin-right: 10px; 
			color:#000000;

			&:hover { 
				color:#880622;
			}
		}
	}
}

.sidebar {
	position: absolute; 
	top: 300px; 
	left: 520px;
	width:200px;
	padding-left:17px;
	padding-bottom:30px;
	border-left: $thin-border;
	border-right: $thin-border;
	border-bottom: $thin-border;
	font: 10px Verdana, Arial, Helvetica, sans-serif; 

	ul {
		padding: 0px;
		list-style-type: none;
	}

	a {
		color: #880622;
		text-decoration: none;
		padding-right:2px;
		padding-left:10px;
		padding-bottom:3px;
		padding-top:1px;
		height:18px;

		&:hover { 
			color: #EEE9E0;
		}
	}

	.design-selection {
		h3 { 
			margin-left: 30px;
			font: 12px/18px Verdana, Arial, Helvetica, sans-serif; 
		}

		a.design-name::before {
			content: "";
			position: absolute;
			width: 1.5em;
			height: 1.5em;
			margin-left: -2px;
			margin-top: -1px;
			background-image: radial-gradient(circle at center, #e07466 0%, #e07466 50%, #567d8d 70%, rgba(0,0,0,0) 80%);
			z-index: -1;
		}

		a.designer-name {
			font-weight: normal;
			display: block;
			@include triangle(4px, #880622, -8px, -3px);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.design-archives,
	.zen-resources
	{
		margin-top: 55px;
		background:url(decoration.gif) no-repeat; 

		li {
			margin-top:6px;
			@include triangle(4px, #e07466, 3px);
		}

		h3 { 
			font: 12px Verdana, Arial, Helvetica, sans-serif; 
			font-weight:bold;
			letter-spacing:0.03em;
			padding-left: 30px;
			padding-top: 40px;
		}
	}

	.design-archives {
		background-position: top left 45px;
	}

	.zen-resources {
		background-position: top left 55px;
	}
}
