body {
	width: 2048px;
	margin: 0;
	color: #888398;
	background: #fff url(bg_body.jpg) repeat-y right;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.5em;
}

body::before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 225px;
	height: 100%;
	background: url(bg_white.png);
	z-index: 1;
}

body::after {
	content: "";
	position: fixed;
	bottom: 0;
	width: 205px;
	height: 594px;
	background: url(bg_face.jpg) no-repeat left bottom;
	z-index: 1;
}

a {
	color: #A52A2A;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.intro {
	position: absolute;
	width: 1828px;
	padding-left: 220px;
}

.intro header h1,
.intro header h2,
.intro .preamble h3 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
}

.intro header h1 {
	position: absolute;
	top: 20px;
	width: 493px;
	height: 83px;
	background: url(csszengarden.jpg) no-repeat;
}

.intro header h2 {
	float:right;
	position: absolute;
	top: 93px;
	right: -3px;
	width: 467px;
	height: 27px;
	background: url(thebeautyofcssdesign.jpg) no-repeat right;
}

.intro .summary {
	clear: right;
	position: absolute;
	top: 90px;
	width: 1828px;
	margin-left: 5px;
	border-top: 1px solid #A5A3B5;
	letter-spacing: 0.1em;
	color: #A5A3B5;
}

.intro .summary p {
	display: inline;
	line-height: 30px;
}

.intro .preamble {
	position: absolute;
	left: 375px;
	top: 160px;
	width: 200px;
	text-align: justify;
}

.intro .preamble h3 {
	height: 25px;
	background: url(theroad.jpg) no-repeat;
}

.intro .preamble p {
	margin: 5px;
}

.supporting {
	position: absolute;
	width: 1828px;
	padding-left: 220px;
}

.supporting h3 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 25px;
	margin: 0;
}

.supporting p {
	margin: 5px;
	text-align: justify;
}

.supporting .explanation {
	position: absolute;
	left: 625px;
	top: 160px;
	width: 200px;
}

.supporting .participation {
	position: absolute;
	left: 875px;
	top: 160px;
	width: 200px;
}

.supporting .benefits {
	position: absolute;
	left: 1125px;
	top: 160px;
	width: 200px;
}

.supporting .requirements {
	position: absolute;
	left: 1375px;
	top: 160px;
	width: 400px;
}

.supporting .explanation h3 {
	background: url(sowhatisthisabout.jpg) no-repeat;
}

.supporting .participation h3 {
	background: url(participation.jpg) no-repeat;
}

.supporting .benefits h3 {
	background: url(benefits.jpg) no-repeat;
}

.supporting .requirements h3 {
	background: url(requirements.jpg) no-repeat;
}

.supporting footer {
	float: right;
	position: absolute;
	right: 0;
	width: 214px;
	height: 18px;
	background: url(transition.jpg) no-repeat left bottom;
	padding-bottom: 65px;
	text-align: center;
	word-spacing: 0.1em;
}

.supporting footer a {
	color: #B2AFC0;
}

.sidebar {
	position: absolute;
	width: 1828px;
	padding-left: 220px;
}

.sidebar .wrapper {
	float: right;
	position: absolute;
	top: 160px;
	right: 0px;
	width: 220px;
	background: url(bg_linklist.jpg) repeat-y;
	text-transform: lowercase;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	padding-left: 35px;
	list-style-type: none;
}

.sidebar h3 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 25px;
	margin: 0;
	margin-bottom: 15px;
}

.sidebar .design-selection h3 {
	height: 200px;
	background: url(selectadesign.jpg) no-repeat;
}

.sidebar .design-archives h3 {
	height: 81px;
	background: url(archives.jpg) no-repeat;
}

.sidebar .zen-resources h3 {
	height: 95px;
	background: url(ressources.jpg) no-repeat;
}

.sidebar .design-archives,
.sidebar .zen-resources {
	clear: left;
	border-top: 10px solid #D9D6E7;
}

.sidebar .design-selection li a.design-name {
	display: block;
	margin-left: -10px;
	padding-left: 26px;
	color: #8B879E;
	border-top: 1px solid #C6C6D2;
	background: url(linklistlink.jpg) no-repeat;
}
