*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.intro .preamble h3, .supporting h3, .sidebar h3 {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: #fff url("bg_tree.gif") repeat-x left top;
}

.page-wrapper {
  position: relative;
  width: 732px;
  background: url("nutitle.gif") no-repeat;
}

.intro, .supporting {
  position: relative;
  top: 200px;
  left: 195px;
}

.intro {
  width: 350px;
}
.intro .summary {
  position: absolute;
  top: 20px;
  left: 400px;
  width: 120px;
}

.supporting {
  width: 400px;
}

.sidebar {
  position: absolute;
  top: 200px;
  width: 190px;
}

body {
  color: #888;
  font-size: 16px;
}

a {
  color: #090;
  text-decoration: none;
}
a:hover {
  color: #663;
  text-decoration: underline;
}

.intro .preamble h3, .supporting h3, .sidebar h3 {
  margin: 0;
  background-repeat: no-repeat;
}

.intro header {
  display: none;
}
.intro .summary > :first-child {
  font-size: 0.8em;
  text-align: right;
}
.intro .summary > :last-child {
  margin-top: 40px;
  font-size: 0.93em;
  text-align: center;
  padding-bottom: 90px;
  background: url("barrow.gif") no-repeat center bottom;
}
.intro .summary > :last-child a {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana,Arial,Sans-serif;
}
.intro .preamble h3 {
  height: 70px;
  background-image: url("road.gif");
}

.supporting h3 {
  height: 70px;
}
.supporting a {
  font-weight: bold;
}
.supporting .explanation h3 {
  background-image: url("what.gif");
}
.supporting .participation h3 {
  background-image: url("participation.gif");
}
.supporting .benefits h3 {
  background-image: url("benefits.gif");
}
.supporting .requirements h3 {
  background-image: url("requirements.gif");
}
.supporting footer {
  background: #D9D98B;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px 0 2px 0;
  border-style: solid;
  border-color: #363;
  text-align: center;
}
.supporting footer a {
  font-size: 0.85em;
  font-weight: normal;
  font-family: Verdana,Arial,Sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar div {
  margin-top: 20px;
}
.sidebar div:not(:first-child) {
  text-transform: lowercase;
}
.sidebar h3 {
  height: 31px;
}
.sidebar ul {
  padding-left: 0;
  font-size: 0.9em;
}
.sidebar li {
  list-style-type: none;
  margin-bottom: 0.5em;
  line-height: 1em;
}
.sidebar a {
  font-family: Verdana,Arial,Sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}
.sidebar .design-selection h3 {
  background-image: url("select.gif");
}
.sidebar .design-selection .design-name {
  display: block;
}
.sidebar .design-selection .designer-name {
  font-family: Georgia,Serif;
  font-weight: normal;
  text-transform: lowercase;
}
.sidebar .design-archives h3 {
  background-image: url("archives.gif");
}
.sidebar .zen-resources h3 {
  background-image: url("resources.gif");
}
