//$position: top | bottom
@mixin padding-bg($img, $position, $height){
	padding-#{$position}: $height;
	background: url($img) no-repeat center $position;
}

@mixin before-after-text($before-text, $after-text) {
	&::before {
		content: $before-text;
	}

	&::after {
		content: $after-text;
	}
}