*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.sidebar .design-selection h3, .sidebar .design-archives h3, .sidebar .zen-resources h3 {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #000;
  color: #ddd;
}

.page-wrapper {
  position: relative;
  width: 750px;
  background: url(backdrop.title.jpg) no-repeat;
}

.intro,
.supporting {
  position: relative;
  top: 225px;
  left: 218px;
  width: 492px;
}

.intro .summary {
  float: left;
  width: 173px;
}

.sidebar {
  position: absolute;
  top: 435px;
  left: 50px;
  width: 150px;
}

.intro .preamble h3, .supporting h3 {
  font-size: 1.2em;
  font-weight: normal;
  color: #fff;
}

.intro .preamble p, .supporting p {
  font-size: 0.9em;
  line-height: 1.5em;
}

body {
  margin: 0;
  font-family: georgia,palatino,times,serif;
  font-size: 16px;
}

a:link {
  text-decoration: none;
  color: #bcf;
}
a:visited {
  color: #bde;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}

.intro {
  padding: 10px;
  border: 1px dashed #fff;
}
.intro header {
  display: none;
}
.intro .summary {
  margin-right: 10px;
}
.intro .summary p {
  font-size: 0.85em;
  font-style: italic;
  text-align: center;
  line-height: 2.2em;
  margin: 0;
  padding: 4px;
}
.intro .preamble h3 {
  margin: 0;
}
.intro .preamble p:last-child {
  margin-bottom: 0;
}

.supporting h3, .supporting footer {
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.supporting footer {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 0.65em;
  text-align: center;
}
.supporting footer a {
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar ul {
  margin: 0;
  padding-left: 10px;
}
.sidebar li {
  list-style-type: none;
  font-size: 0.65em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar .design-selection h3, .sidebar .design-archives h3, .sidebar .zen-resources h3 {
  width: 150px;
  height: 21px;
  margin: 0;
}
.sidebar .design-selection h3 {
  background: url("linkhead-select.jpg");
}
.sidebar .design-selection li {
  list-style-image: url(docbullet.gif);
  margin-left: 15px;
}
.sidebar .design-selection .design-name {
  display: block;
  text-transform: lowercase;
}
.sidebar .design-archives h3 {
  background: url("linkhead-archives.jpg");
}
.sidebar .zen-resources h3 {
  background: url("linkhead-resources.jpg");
}
