*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  position: relative;
  width: 800px;
  background: #fff url(img-paper.gif) no-repeat center top;
  color: #000;
  padding-left: 25px;
  padding-right: 25px;
}
.page-wrapper::after {
  content: "";
  position: absolute;
  bottom: -230px;
  width: 420px;
  height: 70px;
  background: url("img-pen.gif") no-repeat;
}

.intro,
.supporting {
  position: relative;
  top: 230px;
}

.intro header h1 {
  display: none;
}
.intro header h2 {
  position: absolute;
  top: -130px;
  width: 100%;
  text-align: center;
}

.supporting {
  margin-bottom: 70px;
}
.supporting .explanation {
  float: left;
  width: 31%;
}
.supporting .participation {
  float: left;
  width: 46%;
}
.supporting .benefits {
  float: left;
  width: 22%;
}
.supporting .requirements {
  clear: both;
}
.supporting footer {
  position: absolute;
  top: -275px;
  width: 100%;
  text-align: center;
}

.sidebar {
  position: absolute;
  top: 40px;
  width: 750px;
}
.sidebar .design-selection {
  position: absolute;
  left: 5px;
}
.sidebar .design-archives, .sidebar .zen-resources {
  position: absolute;
  right: 0;
  width: 170px;
}
.sidebar .zen-resources {
  top: 70px;
}

.intro .preamble h3, .supporting h3 {
  font-family: courier;
  font-size: 1.2em;
  margin: 6px;
  margin-top: 14px;
  border-bottom: 1px solid #888;
}

.intro .preamble p, .supporting p {
  margin: 6px;
  letter-spacing: 1px;
  text-align: justify;
}

body {
  font-family: tahoma;
  font-size: 11px;
}

abbr {
  cursor: help;
}

a {
  text-decoration: none;
  padding-bottom: 4px;
  color: #000;
  background: url(img-line.gif) repeat-x bottom;
}

.intro header h2 {
  font-family: courier;
  font-size: 1em;
  letter-spacing: 3px;
}
.intro .summary {
  margin-left: 6px;
}
.intro .summary p {
  display: inline;
  margin: 0;
  color: #666;
  font-style: italic;
  font-family: courier;
  letter-spacing: 0px;
}
.intro .summary a {
  color: #666;
}
.intro .preamble {
  border-top: 3px double #ddd;
  margin-top: 10px;
}

.supporting .participation {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
.supporting .benefits {
  padding-bottom: 148px;
  background: url("img-bonsai.gif") no-repeat center bottom;
}
.supporting .requirements p:last-child {
  margin-top: 20px;
  text-align: right;
  border-right: 1.1em solid #ccc;
}
.supporting footer {
  font-size: 0.9em;
}
.supporting footer a {
  background: none;
  color: #555;
}
.supporting footer a:hover {
  color: #000;
  background: url(img-diagonal.gif) repeat-x bottom;
}

.sidebar {
  font-size: 0.8em;
}
.sidebar h3 {
  font-family: courier;
  margin: 6px;
}
.sidebar ul {
  margin: 0;
  border: 1px solid #bbb;
  padding: 5px;
  list-style-type: lower-roman;
}
.sidebar li {
  margin-left: 25px;
}
.sidebar a {
  background: none;
  color: #555;
}
.sidebar a:hover {
  color: #000;
}
